@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout!;
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}

<div>
    <div>
        <partial name="_ManageNav"/>
    </div>
    <div class="pt-4">
        @RenderBody()
    </div>
</div>



@section Scripts {
    @RenderSection("Scripts", required: false)
}