@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout!;
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}

<h3 class="mb-5" >Setting</h3>


<div>
    <div>
        <partial name="_ManageNav"/>
    </div>
    <div>
        @RenderBody()
    </div>
</div>

<partial id="detailsContent" name="~/Views/Settings/Setting.cshtml" model="@ViewBag.newRoom"/>


@section Scripts {
    @RenderSection("Scripts", required: false)
}