@{
    ViewData["Title"] = @SharedLocalizer["Imprint"].Value;
}
<h1 style="color: #9551FE">@ViewData["Title"]</h1>

<p>Angaben gemäß § 5 TMG</p>
<p>
    Corona CheckIn <br>
    Altonaer Straße 25<br>
    99085 Erfurt <br>
</p>
<p>
    <strong>Vertreten durch: </strong><br>
    Corona CheckIn<br>
</p>
<p>
    <strong>Kontakt:</strong> <br>
    Telefon: 049-123123123
    <br>
    E-Mail: <a href='mailto:support@coronacheckin.com'>support@coronacheckin.com</a>
    <br>
</p>
<p>
    <strong>Haftungsausschluss: </strong><br><br><strong>Datenschutz</strong><br><br>
    Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. <br>
    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. <br>
    Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.<br>
</p>