html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.link-active {
    color: #9551FE;

}

.only-print {
    display: none;
}

#setting-menu .nav-link {
    color: #9551FE; !important;
}

#setting-menu .active {
    background-color: #9551FE;
    color:white;
}

@media print {
    #navbar {
        display: none !important;
    }

    /* removes URL, title, date from head and footer of a printed document */
    @page {
        size: auto;
        margin: 0;
    }

    :not(.print) {
        visibility: hidden;
    }

    .print {
        visibility: visible;
    }

    .only-print {
        display: block;
    }
}