html {
    font-size: 14px;
}

.title {
    display: none;

}

.icon {
    display: block;
}

.sidenav-title {
    display: none;
}

.sidenav-icon {
    font-size: 24px;
}

@media (min-width: 980px) {
    .sidenav {
        max-width: 280px;
    }
}

@media (min-width: 1280px) {
    .icon {
        display: none;
    }

    .title {
        display: block;
    }

    .sidenav-icon {
        font-size: 16px;
    }

    .sidenav-title {
        display: inline-block;
    }
}

@media (min-width: 769px) {
    html {
        font-size: 16px;
    }

}

.content {
    padding: 38px 30px 0 20px !important;
}

html {
    position: relative;
    min-height: 100%;
}

.link-active {
    color: #9551FE;

}

.tile {
    background-color: white;
    border: 1px solid red;
}

#setting-menu .nav-link {
    color: #9551FE;
!important;
}

#setting-menu .active {
    background-color: #9551FE;
    color: white;
}

.fixed-width {
    flex: 0 0 200px;
}

.fixed-margin {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 12px;
}